<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>

        <!-- 🔥 default page -->
        <defaultDocument>
            <files>
                <clear />
                <add value="html/login.html" />
            </files>
        </defaultDocument>

    </system.webServer>
</configuration>